<!DOCTYPE html>

<html lang="<%- lang %>">

<head>
    <% include ../meta/meta %>
    <% include ../bundles/styles %>
    <% include ../partials/fb-pixel %>  
    <link rel="stylesheet" href="/libs/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/libs/angular-material-expansion-panel/dist/md-expansion-panel.min.css" />
    <script>
        var stCategories = JSON.parse('<%- JSON.stringify(categories) %>');
    </script>
    <style>
        .img-thumbnail-avatar-small {
            height: 45px;
            width: 45px;
        }
        /*
            BLOG ARTICLES
        */ 
        .st-blog {
            background: url('<%- Post.post_image_url %>') no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .st-dark-bg {
            background-color: #000;
            color: #546e7a;
        }
        .st-half-transparent {
            background: rgba(70, 72, 82, 0.75)
        }
        .btn-blog {
            background-color: white;
            color: #26a69a;
            border: 2px solid #26a69a; 
            font-size: 12px;
            text-align:center;
        }
        .btn-blog:hover {
            background-color: #26a69a; 
            color: white;
        }
        .st-press {
            background: url(/images/press.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }      
        .st-freelancers {
            background: url(/images/graffiti.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>

    <base href="<% if (typeof base === 'undefined' ) { %>/<% } else { %><%-base%><% } %>">
</head>
 
<body ng-app="vqApp" style="background-color: rgb(250,250,250)">
    <% include ../partials/header %>   

    <div class="st-blog" style="height:230px;">
        <div class="st-dark-bg st-half-transparent" style="position:relative; left:0; z-index: 1; width:100%; height:100%; overflow:hidden;">
                <div class="row" style="position:relative;margin-top:60px;">
                        <div class="col s12 center-align">        
                            <h1 class="st-page-header">
                            <span style="color:white;"><%- Post.post_title %></span>
                        </h1>
                        </div>
                </div>
        </div>
    </div> 

    <div class="container-fluid" style="max-width: 1036px; margin-top: 20px;" >
        <%- body %>
    </div>	

    <div class="container-fluid">  
        <% include ../partials/footer %>   
    </div>

    <% include ../bundles/scripts %>
    <% include ../partials/tracking-code %>
    </body>
</html>
