<title><%- getConfig('SEO_TITLE') %></title>

<meta charset="utf-8">
<meta name="description" content="<%- getConfig('SEO_DESCRIPTION') %>">
<meta name="keywords" content="<%- getConfig('SEO_KEYWORDS') %>">
<meta name="author" content="VQ LABS (https://vq-labs.com)">
<meta property="og:title" content="<%- getConfig('SEO_TITLE') %>" />
<meta property="og:description" content="<%- getConfig('SEO_DESCRIPTION') %>" />        
<meta property="og:image" content="<%- getConfig('SEO_IMAGE') %>" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="<%- getConfig('SEO_FAVICON_URL') %>">