<div class="row" style="padding-bottom:10px;">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-0 col-md-offset-2">
    <h2><%- translate('CATEGORY_BENEFITS_BUYERS_HEADER') %></h2>
        <ul class="st-list-bullets">
           <li><p><%- translate('CATEGORY_BENEFITS_BUYERS_STEP_1') %></p></li>
           <li><p><%- translate('CATEGORY_BENEFITS_BUYERS_STEP_2') %></p></li>
           <li><p><%- translate('CATEGORY_BENEFITS_BUYERS_STEP_3') %></p></li>
           <li><p><%- translate('CATEGORY_BENEFITS_BUYERS_STEP_4') %></p></li><br>
            <p class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-offset-2 center-align"><a href="/"><b><u><%- translate('LEARNMORE') %></u></b></a></p>
        </ul>   
    <div style="padding-top:30px;">
        <a href="/app" class="btn btn-large btn-block create-list-link" style="margin: 0 auto;">
                <span class="text-center"><b><%- translate('BROWSE_LISTINGS') %></b></span>
        </a>
    </div>  
     </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-2 col-md-offset-2">
            <h2><%- translate('CATEGORY_BENEFITS_SELLERS_HEADER') %></h2>
            <ul class="st-list-bullets">
                <li><p><%- translate('CATEGORY_BENEFITS_SELLERS_STEP_1') %></p></li>
                <li><p><%- translate('CATEGORY_BENEFITS_SELLERS_STEP_2') %></p></li>
                <li><p><%- translate('CATEGORY_BENEFITS_SELLERS_STEP_3') %></p></li>
                <li><p><%- translate('CATEGORY_BENEFITS_SELLERS_STEP_4') %></p></li><br>
                    <p class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-offset-2 center-align"><a href="/freelancers"><b><u><%- translate('LEARNMORE') %></u></b></a></p> 
            </ul>
      <div style="padding-top:30px;">
        <a href="/app/new-listing" class="btn btn-large btn-block create-list-link" style="margin: 0 auto;">
                <span class="text-center"><b><%- translate('OFFER_LISTINGS') %></b></span>
        </a>
     </div>
   </div>
 </div>
 
  